*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: inherit;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

html {
  scroll-behavior: smooth;
}


