@use '../abstracts' as *;

//STYLES
.rte-heading-l {
  @include rte-heading-l;
}
.rte-heading-m {
  @include rte-heading-m;
}
.rte-heading-s {
  @include rte-heading-s;
}
.rte-body {
  @include rte-body;
}

//COLORS
.color-main {
  color: $color-main;
}
.color-complement-1 {
  color: $color-complement-1;
}
.color-complement-3 {
  color: $color-complement-3;
}
.color-body-text {
  color: $color-body-text;
}
.color-body-light {
  color: $color-body-light;
}
