@use '../abstracts' as *;

.top-bar {
  width: 100%;
  background-color: $color-main;

  .container {
    @include flex-space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  p {
    @include note-1;
    font-style: normal;
    color: $color-white;
  }

  .icon-list {
    @include flex-right;
    gap: 0.75rem;
  }

  .top-bar-icon {
    color: $color-white;
  }
}

