<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ada2876-b620-48db-b2d7-3451feb83453" Alias="About Section - Callback Form" Level="1">
  <Info>
    <Name>About Section - Callback Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f43c1d46-2302-481a-a524-a475d629d362",
      "settingsElementTypeKey": "97496159-1116-447a-bfbd-502312b16923"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 0,
    "max": 1
  }
}]]></Config>
</DataType>