<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90cb4739-06e3-4e58-aca7-6cec8ca4b50e" Alias="About Card Block" Level="1">
  <Info>
    <Name>About Card Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4c8ed848-a031-49f3-bbde-12ab38e1c8fd"
    }
  ],
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>