<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18b6d39e-76b4-46cd-a4ec-dca0ac912568" Alias="Aside Reference" Level="1">
  <Info>
    <Name>Aside Reference</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "e39b70b1-ec50-455c-8d70-56c59fc92515",
  "maxNumber": 1,
  "minNumber": 1
}]]></Config>
</DataType>