<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d06084cb-18b3-4d4e-8890-3b6097071e95" Alias="Aside | Contact Card" Level="1">
  <Info>
    <Name>Aside | Contact Card</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a9f30bd0-b6a2-42b2-bf7a-b01b73f2c751"
    }
  ],
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>