<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d05cb16-6d17-482e-b38a-a14c2e7f88ee" Alias="Aside Section Content" Level="1">
  <Info>
    <Name>Aside Section Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4c8ed848-a031-49f3-bbde-12ab38e1c8fd"
    },
    {
      "contentElementTypeKey": "a9f30bd0-b6a2-42b2-bf7a-b01b73f2c751"
    }
  ]
}]]></Config>
</DataType>