<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd9c5d6f-eff8-479d-b8b5-7ecf95a245f2" Alias="Contact Info Reference" Level="1">
  <Info>
    <Name>Contact Info Reference</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c7974be9-f893-4f46-b084-152f362dc346",
  "maxNumber": 1,
  "minNumber": 1
}]]></Config>
</DataType>