<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbaf07f4-5dd2-4ae0-88b1-683c6a97d5e2" Alias="Onatrix | Service Detail Content" Level="1">
  <Info>
    <Name>Onatrix | Service Detail Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2b80ca0f-e5fd-4ef3-a8da-74bdbc00bcf4"
    },
    {
      "contentElementTypeKey": "8d03895f-a99e-4e11-a636-5f33b0976099"
    },
    {
      "contentElementTypeKey": "311a2470-1e1f-4de7-b041-e4db44c6349f"
    }
  ]
}]]></Config>
</DataType>