<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b62ecfb3-36eb-4810-9842-ee20c0b4ee8d" Alias="Onatrix | Service Page Content" Level="1">
  <Info>
    <Name>Onatrix | Service Page Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fa9265c3-92d4-4bdd-9ffb-6e3f3d16556a",
      "settingsElementTypeKey": "d5b08d7e-b8d1-46ae-b445-0918026244e6"
    }
  ]
}]]></Config>
</DataType>