<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4610bb84-093b-400a-a254-488dfd57fe33" Alias="Onatrix | About Page Sections" Level="1">
  <Info>
    <Name>Onatrix | About Page Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b9d731b2-1526-4576-a9a5-955973522e7d",
      "settingsElementTypeKey": "3e287bdd-a4da-4579-97a3-7248f8a0c62b"
    },
    {
      "contentElementTypeKey": "8cc3386d-d790-450f-a9a0-1d419f25d427",
      "settingsElementTypeKey": "9f98f9d0-1a08-4bdf-be2a-070265881800"
    },
    {
      "contentElementTypeKey": "b1297095-e139-46e7-938d-d85e9d7c2eba",
      "settingsElementTypeKey": "ef5ffc8a-10df-469e-8d44-8ddefcc8bd1d"
    },
    {
      "contentElementTypeKey": "311a2470-1e1f-4de7-b041-e4db44c6349f"
    }
  ]
}]]></Config>
</DataType>