<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbaf07f4-5dd2-4ae0-88b1-683c6a97d5e2" Alias="Onatrix | Service Detail Content" Level="1">
  <Info>
    <Name>Onatrix | Service Detail Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8d03895f-a99e-4e11-a636-5f33b0976099"
    },
    {
      "contentElementTypeKey": "f43c1d46-2302-481a-a524-a475d629d362",
      "settingsElementTypeKey": "1b716945-7505-492e-b070-921020376b41"
    }
  ]
}]]></Config>
</DataType>