<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6b77343-b639-4434-8b64-6b8c6518ece1" Alias="Onatrix | Home Page Sections" Level="1">
  <Info>
    <Name>Onatrix | Home Page Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "483aae1d-5fa4-4725-9487-85e29d72b7f9"
    },
    {
      "contentElementTypeKey": "b9d731b2-1526-4576-a9a5-955973522e7d"
    },
    {
      "contentElementTypeKey": "8628f0fe-fefd-42e5-85d9-f28a07d57fe7"
    },
    {
      "contentElementTypeKey": "fa9265c3-92d4-4bdd-9ffb-6e3f3d16556a",
      "settingsElementTypeKey": "d5b08d7e-b8d1-46ae-b445-0918026244e6"
    },
    {
      "contentElementTypeKey": "d02d90d2-37d2-458d-b53f-ed70a0aba4f6",
      "settingsElementTypeKey": "bcec39e2-4d6d-423a-8479-592e4225b7fd"
    },
    {
      "contentElementTypeKey": "0283ae88-76c2-4e5b-8d19-dffd34c2d2b6"
    },
    {
      "contentElementTypeKey": "3222086c-1cc9-4d01-8791-4eee9f43c614"
    }
  ]
}]]></Config>
</DataType>