<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb31bac5-1ded-4101-8e2a-f7db70cd9d9e" Alias="Service List" Level="1">
  <Info>
    <Name>Service List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8d03895f-a99e-4e11-a636-5f33b0976099",
      "label": "{umbValue: serviceDetailTitle}"
    }
  ]
}]]></Config>
</DataType>