<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dae3ec07-7871-4951-a634-a953b426c776" Alias="Service Cards - Services To Display" Level="1">
  <Info>
    <Name>Service Cards - Services To Display</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "f5ce1815-36b8-4c8b-876f-ca183b584fb8",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "id": "33199066-17a1-4301-99d4-c84e92fbbf70",
    "dynamicRoot": {
      "originKey": "33199066-17a1-4301-99d4-c84e92fbbf70",
      "originAlias": "ByKey"
    }
  }
}]]></Config>
</DataType>