<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1da58ca-930b-47de-bab2-1eb0a60c1115" Alias="Service Section - Service Collection" Level="1">
  <Info>
    <Name>Service Section - Service Collection</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d2bc33e-e18c-455b-9ef1-f2a0606cb16f",
      "label": "{umbValue: serviceDetailTitle}"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>