<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e1da58ca-930b-47de-bab2-1eb0a60c1115" Alias="Service Section - Service Cards" Level="1">
  <Info>
    <Name>Service Section - Service Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d2dd342b-4f42-4118-976b-0eb4bc3af693",
      "label": "{umbValue: serviceDetailTitle}"
    }
  ],
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>