<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89eac69f-7b12-4faf-8483-13d243dc00e0" Alias="Site Settings - Social Media List" Level="1">
  <Info>
    <Name>Site Settings - Social Media List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e5ac7fc7-a549-40e7-9bbd-016e3b7c982b",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>