<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26f8d551-e44d-4ca2-8553-0e874844fdec" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3f502af1-8e89-4355-a125-27e717f74b3a",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>