<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c0b6b2b-eb07-41de-bcfc-972dfdd360ae" Alias="Textstring" Level="1">
  <Info>
    <Name>Textstring</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>