<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c9d5ab5-ff36-46df-8c48-058ccc568bce" Alias="Why Choose Us - About Section - Star Rating" Level="1">
  <Info>
    <Name>Why Choose Us - About Section - Star Rating</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "4",
    "5"
  ]
}]]></Config>
</DataType>