<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3cc47fe-f1bc-456d-a99e-c029b9485ba5" Alias="Brand-logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-09T22:22:31</CreateDate>
    <NodeName Default="Brand-logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bt3g2enh/brand-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>