<?xml version="1.0" encoding="utf-8"?>
<Media Key="4047d2bf-41c5-4206-8615-585fa8c4361b" Alias="contact-info-halfportait.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactInfoHalfportaitpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T16:25:08</CreateDate>
    <NodeName Default="contact-info-halfportait.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gamad3vm/contact-info-halfportait.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>