<?xml version="1.0" encoding="utf-8"?>
<Media Key="6662bf4a-767c-48c3-87cf-f647e43ab772" Alias="hero-bgimg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBgimgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T12:22:58</CreateDate>
    <NodeName Default="hero-bgimg.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yv0djuav/hero-bgimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>