<?xml version="1.0" encoding="utf-8"?>
<Media Key="432a657e-ec51-4037-9f71-513500de978b" Alias="map 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T12:55:55</CreateDate>
    <NodeName Default="map 1.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4gxhz3jy/map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>