<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5866405-20fd-47c1-b098-23f69bfc4e1e" Alias="map1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T17:10:12</CreateDate>
    <NodeName Default="map1.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rkxmay2u/map1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>