<?xml version="1.0" encoding="utf-8"?>
<Media Key="509e5a59-9a2b-42a6-826f-1bc2d152c085" Alias="Partner-4" Level="2">
  <Info>
    <Parent Key="caf3db47-4fa9-4716-a921-f87800a37e51">Partner Logos</Parent>
    <Path>/PartnerLogos/Partner4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:42:11</CreateDate>
    <NodeName Default="Partner-4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vptdzmrq/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>