<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b82ab9f-3af0-498f-ac5b-bdd5c5d1874f" Alias="Partner-2" Level="2">
  <Info>
    <Parent Key="caf3db47-4fa9-4716-a921-f87800a37e51">Partner Logos</Parent>
    <Path>/PartnerLogos/Partner2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:41:41</CreateDate>
    <NodeName Default="Partner-2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nulcbwpl/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>