<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa497adb-e8e0-4e91-88e3-0cc326afbf63" Alias="Partner-3" Level="2">
  <Info>
    <Parent Key="caf3db47-4fa9-4716-a921-f87800a37e51">Partner Logos</Parent>
    <Path>/PartnerLogos/Partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:41:55</CreateDate>
    <NodeName Default="Partner-3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhdpwsh1/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>