<?xml version="1.0" encoding="utf-8"?>
<Media Key="bafce712-6eda-4474-a4bd-18904a7b7d4a" Alias="Partner-1" Level="2">
  <Info>
    <Parent Key="caf3db47-4fa9-4716-a921-f87800a37e51">Partner Logos</Parent>
    <Path>/PartnerLogos/Partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:41:25</CreateDate>
    <NodeName Default="Partner-1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2bnf2wgb/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>