<?xml version="1.0" encoding="utf-8"?>
<Media Key="19645172-8f98-48d9-95d8-58f0f847ee10" Alias="Service - Financial Advisor" Level="2">
  <Info>
    <Parent Key="f7aae055-e309-4cc9-9019-32c3ac7b2c7a">Services</Parent>
    <Path>/Services/ServiceFinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:53:28</CreateDate>
    <NodeName Default="Service - Financial Advisor" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5wndfl5r/service-finadv.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>