<?xml version="1.0" encoding="utf-8"?>
<Media Key="a17feaf2-67e3-43fa-b620-ae23a361c715" Alias="service -general image" Level="2">
  <Info>
    <Parent Key="f7aae055-e309-4cc9-9019-32c3ac7b2c7a">Services</Parent>
    <Path>/Services/serviceGeneralImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T21:01:09</CreateDate>
    <NodeName Default="service -general image" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/puqdsf2k/service-general.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>