<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7aae055-e309-4cc9-9019-32c3ac7b2c7a" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T16:36:09</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>