<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca063ffb-4fc6-46d1-a728-af7a20c523ee" Alias="Service - Assurance and Audits" Level="2">
  <Info>
    <Parent Key="f7aae055-e309-4cc9-9019-32c3ac7b2c7a">Services</Parent>
    <Path>/Services/ServiceAssuranceAndAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:54:18</CreateDate>
    <NodeName Default="Service - Assurance and Audits" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ot0fa5fp/service-assurance.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>