<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2c571bc-45bf-40f4-97fd-2a1993ccaa42" Alias="Service - Statistic Advisors" Level="2">
  <Info>
    <Parent Key="f7aae055-e309-4cc9-9019-32c3ac7b2c7a">Services</Parent>
    <Path>/Services/ServiceStatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:53:03</CreateDate>
    <NodeName Default="Service - Statistic Advisors" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/go3jgzgw/service-statadv.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>