<?xml version="1.0" encoding="utf-8"?>
<Media Key="8aa50d93-ba5c-49fb-944e-ea79fd14ad32" Alias="success-image.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T12:33:54</CreateDate>
    <NodeName Default="success-image.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dtdpgpbv/success-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>