<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceb8bd60-1a53-492e-8eb0-162e890ad37d" Alias="team-group.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T12:32:44</CreateDate>
    <NodeName Default="team-group.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/331p24b0/team-group.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>