<?xml version="1.0" encoding="utf-8"?>
<Media Key="edfa0b15-1c24-4d40-85a0-fd5cc6a58347" Alias="Team - TF" Level="2">
  <Info>
    <Parent Key="ca5debad-da6a-4758-aa07-0c5b675a8ff9">Team Members</Parent>
    <Path>/TeamMembers/TeamTF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:48:10</CreateDate>
    <NodeName Default="Team - TF" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tlalyw0n/team-tf.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>