<?xml version="1.0" encoding="utf-8"?>
<Media Key="57b3e07c-d806-4637-a13c-d7d0eb0496dc" Alias="Team - BN" Level="2">
  <Info>
    <Parent Key="ca5debad-da6a-4758-aa07-0c5b675a8ff9">Team Members</Parent>
    <Path>/TeamMembers/TeamBN</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:47:18</CreateDate>
    <NodeName Default="Team - BN" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4mvplylp/team-bn.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>