<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ce6240e-3dfd-4c17-9dc8-510d4c128055" Alias="Team - AJC" Level="2">
  <Info>
    <Parent Key="ca5debad-da6a-4758-aa07-0c5b675a8ff9">Team Members</Parent>
    <Path>/TeamMembers/TeamAJC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:47:38</CreateDate>
    <NodeName Default="Team - AJC" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qhxkbguu/team-ajc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>