<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b2727c4-7f0a-4a85-8b5d-c84e25feae2c" Alias="Team - AL" Level="2">
  <Info>
    <Parent Key="ca5debad-da6a-4758-aa07-0c5b675a8ff9">Team Members</Parent>
    <Path>/TeamMembers/TeamAL</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T20:47:54</CreateDate>
    <NodeName Default="Team - AL" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jpwhd1ld/team-al.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>