<?xml version="1.0" encoding="utf-8"?>
<Media Key="35ee5cba-0bcf-463f-93f3-3c6beeada4bd" Alias="umbraco-logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/umbracoLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-09T22:21:20</CreateDate>
    <NodeName Default="umbraco-logo.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jdqfzv4u/umbraco-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>