@use '../abstracts' as *;

.layout--about {
  .container {
    @include flex-center;
    flex-direction: row-reverse;
  }

  .about-content--block-1 {
    max-width: 60%;
    padding-left: 3rem;
  }

  span {
    font-style: italic;
  }

  .about-image {
     img {
       padding-bottom: 0.75rem;
     }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.layout--home {
  .container {
    @include flex-center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .section {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .about-image {
    margin-left: 1rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

  .about-content--block-1 {
    p {
      padding-bottom: 0.75rem;
    }
  }

  .about-quote {
    @include quote;
    font-weight: 300;
    padding-top: 1rem;
  }
