@use '../abstracts' as *; 

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.9375rem 2.5rem;
  gap: 0.625rem;
  border-radius: 0.1875rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
}

.button-small {
  @include button;
  background-color: $color-main;
  color: $color-complement-1;

  &:hover {
    color: $color-complement-3;
    background-color: lighten($color-main, 1%);
  }

  &:focus {
    outline: 2px solid lighten($color-main, 20%);
  }
}

.button-large {
  @include button;
  background-color: $color-complement-1;
  color: $color-main;
  width: 100%;

  &:hover {
    background-color: $color-complement-3;
  }
  &:focus {
    outline: 2px solid lighten($color-complement-3, 20%);
  }
}
