@use '../abstracts' as *;

.card {
  @include flex-column-left;
  text-align: left;
  width: 370px;
  height: 400px;
  display: inline-block;
  padding-block: 1rem;
  border-radius: 0.25rem;
  background-color: $color-bg;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  h5 {
    padding-inline: 1rem;
  }

  p {
    overflow: hidden;
    padding-inline : 1rem;
  }
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover .card {
    transform: translateX(-2px);
    transition: 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

