@use '../abstracts' as *;

.card {
  @include flex-column-center;
  max-width: 370px;
  display: inline-block;
  padding-block: 1rem;
  border-radius: 0.25rem;
  background-color: $color-bg;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  h5 {
    justify-self: flex-start;
    padding-left: 1rem;
  }
}
