@use '../abstracts' as *;

.contact-form {
  //Shared styles
  &__content-wrapper {

    p {
      @include note-1;
      padding-bottom: 1rem;
    }
  }

  &__form {
    @include flex-column-center;
    gap: 1rem;
  }

  &__row {
    @include flex-column-center;
    gap: 1rem;
  }

  &__input {
    flex: 1 1 auto;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $color-border;
    border-radius: 3px;
    background-color: $color-bg;
    font-size: 1rem;

    &::placeholder {
      @include note-1;
      color: $color-body-light;
      opacity: 0.7;
    }
  }

  &__select {
    flex: 1 1 auto;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $color-border;
    border-radius: 3px;
    background-color: $color-bg;
  }
}

  //page-specific styles is found in the respective page scss files.