@use '../abstracts' as *;

.hero-section {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 50dvh;
}

.hero-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-content {
  @include flex-vertical-left;
  position: relative;
  z-index: 1;
  max-width: 55%;
  gap: 1rem;


  h1 {
    @include hero-heading;
  }

  p {
    color: $color-main;
    padding-bottom: 1rem;
  }

}
