@forward 'buttons';
@forward 'card';
@forward 'hero';
@forward 'aboutsection';
@forward 'servicesection';
@forward 'contactform';
@forward 'contactinfo';
@forward 'partnerssection';
@forward 'servicedetailsection';
