@use '../abstracts' as *;


.service-detail-section {
  margin-top: 2rem;
}

.service-detail-content {
  @include box-shadow-soft;
  padding-block: 2rem;

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    max-width: 80%;
  }

  ul {
    padding-left: 4rem;
  }

  li {
    list-style: circle;
  }

  img {
    display: block;
    margin-inline: auto;
    margin-block: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }
}