@use '../abstracts' as *;

.service-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.service-card__grid {
  display: grid;
  gap: 1rem;
  // Mobile default: 1 column
  grid-template-columns: repeat(1, auto);

  @media (min-width: 820px) {
    // Tablet: 2 columns
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 1200px) {
    // Desktop: 3 columns
    grid-template-columns: repeat(3, auto);
  }

  justify-content: center;
}
