@using Umbraco.Cms.Core.Models.Blocks
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactPage>
@{
  Layout = "mainLayout.cshtml";
}

<partial name="layout/_PageHeader" model="Model as IHasPageHeader" />

<partial name="Partials/sections/contactInfoSection" model="Model as IHasContactInfoSection" />

@if (Model.ContactContent != null)
{
  foreach (var block in Model.ContactContent)
  {
    if (block.Content is ContentModels.ContactForm)
    {
      <section class="contact-form--contactpage container">
   @*   <img src="@Model.BgImage?.Url()" class="map-bg" alt="Map background" /> *@
        @await Html.PartialAsync("BlockList/Components/ContactForm", block)
      </section>
    }
    else
    {
      @await Html.PartialAsync($"BlockList/Components/{block.Content.ContentType.Alias}", block)
    }
  }
}