@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.PartnersSection)Model.Content;
}

<section class="partners-section">
  <div class="container">
    <div class="partners-content">
        @if (content.PartnerLogos != null && content.PartnerLogos.Any())
        {
          foreach (var logo in content.PartnerLogos)
          {
            <div class="partner-logo">
              <img src="@logo?.Url()" alt="Partner logo" />
            </div>
          }
        }
      </div>
  </div>
</section>
