@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.ServiceDetailSection)Model.Content;
}

<section class="service-detail-section">
  <div class="service-detail-content">
    <div>
      @Html.Raw(content.ServiceDetailBody)
    </div>
  </div>
</section>

