@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
  var title = Model != null ? $"Onatrix | {Model.Name}" : "Onatrix";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
@*   <partial name="Partials/layout/_Topbar" />
  <partial name="Partials/layout/_Nav" /> *@
  <h1>Test- Layout loaded successfully!</h1>
<main>
  @RenderBody()
</main>
 @*  <partial name="Partials/layout/_Footer" /> *@
</body>

</html>