// Figma color styles

$color-main: #4F5955; // Main color (greenish gray)
$color-white: #FFFFFF; // Used on some darker backgrounds in light mode
$color-sub-1: #F2EDDC; // Sub color 1 (light beige)
$color-sub-3: #D9C3A9; // Sub color 3 (warm taupe)
$color-note-1: #9C9EA6; // Note color (grayish purple)
$color-body-text: #535656; // Body text (dark neutral gray)
$color-text-dark: #E0E0E0; // Dark mode text color (light gray)

$color-bg: #FFFFFF; // Background color (white)
$color-bg-dark: #1E1E1E; // Dark mode background color (very dark gray)

