// Figma color styles

$color-main: #4F5955; // Main color, Main Heading Color (greenish gray)
$color-white: #FFFFFF; // Used on some darker backgrounds in light mode
$color-complement-1: #F2EDDC; // Sub color 1 in figma (light beige)
$color-complement-3: #D9C3A9; // Sub color 3 in figma (warm taupe)
$color-body-text: #535656; // Body text (dark neutral gray)
$color-body-light: #9C9EA6; // Note 1 color in figma (grayish purple)
$color-text-dark: #E0E0E0; // Dark mode text color (light gray)

$color-bg: #FFFFFF; // Background color (white)
$color-bg-dark: #1E1E1E; // Dark mode background color (very dark gray)

