// Figma font styles

$font-heading: 'Poppins', sans-serif;
$font-body: 'Poppins', sans-serif;

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font styles
$font-style-normal: normal;
$font-style-italic: italic;

// Font sizes
$font-size-base: 14px;

