@use '../abstracts' as *;
@use '../components' as *;

.contact-form--contactpage {
 width: 100%;

  h3 {
    padding-bottom: 2rem;
  }

  .contact-form__form {
    flex-direction: column;
    width: 100%;

    .contact-form__row {
      flex-direction: row;
      width: 100%;
    }

    button {
      @include button-small;
      align-self: center;
    }
  }

  .contact-form__content-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include flex-column-center;
    background-color: $color-bg;
  }
}

