<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c359793-2df0-4c0f-b767-67cda0604a6a" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone-ring color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Onatrix+%7c+Pages</Folder>
    <Compositions>
      <Composition Key="8efce2e2-8424-4c25-92fb-2f9c9b3a1dc5">hasContactInfoSection</Composition>
      <Composition Key="413b8dac-1d5c-4648-aca2-79c2583dfc48">pageHeader</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5f499751-94c0-4ba8-adc2-e9c94bec86d0">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00315268-c798-4360-96ee-809eb960b2dc</Key>
      <Name>Content</Name>
      <Alias>contactContent</Alias>
      <Definition>3d405521-101e-4d74-9961-a116cdbe08c8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactInfoContent">Contact Info Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c7703386-2ed6-470f-aec1-d5fd73f65316</Key>
      <Caption>Contact Info Content</Caption>
      <Alias>contactInfoContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>