<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20229fc4-6350-425b-8538-c7178ecf4cd9" Alias="formSubmission" Level="2">
  <Info>
    <Name>Form Submission</Name>
    <Icon>icon-message color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Onatrix+%7c+Form+Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>76fe79d3-2a16-443d-885a-0997bff6e6c9</Key>
      <Name>Email</Name>
      <Alias>requestEmail</Alias>
      <Definition>0c0b6b2b-eb07-41de-bcfc-972dfdd360ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="request">Request</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6989385-3fc7-424e-bd2d-03a1de0553cc</Key>
      <Name>Name</Name>
      <Alias>requestName</Alias>
      <Definition>0c0b6b2b-eb07-41de-bcfc-972dfdd360ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="request">Request</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cccd4b16-e449-48b4-a83b-520ae11c4025</Key>
      <Name>Phone Number</Name>
      <Alias>requestPhone</Alias>
      <Definition>0c0b6b2b-eb07-41de-bcfc-972dfdd360ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="request">Request</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea89377a-80d9-452d-8c34-d84bd0e76b5e</Key>
      <Name>Selected Area</Name>
      <Alias>requestSelectedArea</Alias>
      <Definition>0c0b6b2b-eb07-41de-bcfc-972dfdd360ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Area of inquiry]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="request">Request</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>470aa1e0-d834-4ae5-a87f-505f69f5cbea</Key>
      <Name>Submitted At</Name>
      <Alias>submittedAt</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="request">Request</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>439a85ad-2563-482d-9e01-525c2170fe6a</Key>
      <Caption>Request</Caption>
      <Alias>request</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>