<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bb5e25ea-40ba-4cf0-9764-b67a376c5cd3" Alias="globalContent" Level="2">
  <Info>
    <Name>Global Content Collection</Name>
    <Icon>icon-folder color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>All other pages in this folder are children of Global Content Collection.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Global+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e39b70b1-ec50-455c-8d70-56c59fc92515" SortOrder="0">aside</ContentType>
    <ContentType Key="c7974be9-f893-4f46-b084-152f362dc346" SortOrder="1">contactInfo</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>