<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5feddf8-46d2-4c20-9ef0-82bbf22ba0d0" Alias="hasAsideSection" Level="2">
  <Info>
    <Name>Aside Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed899999-61fe-4673-96b7-591b972d1f85</Key>
      <Name>Aside Reference</Name>
      <Alias>asideReference</Alias>
      <Definition>18b6d39e-76b4-46cd-a4ec-dca0ac912568</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This content is filled in once under "Global Content Collection"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="asideReference">Aside Reference</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>62e1469e-c3f4-4ee2-a852-72ba90166877</Key>
      <Caption>Aside Reference</Caption>
      <Alias>asideReference</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>