<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8efce2e2-8424-4c25-92fb-2f9c9b3a1dc5" Alias="hasContactInfoSection" Level="2">
  <Info>
    <Name>Contact Info Section</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1d72a63a-d058-4474-a575-315e1fb56c3a</Key>
      <Name>Contact Info Reference</Name>
      <Alias>contactInfoReference</Alias>
      <Definition>fd9c5d6f-eff8-479d-b8b5-7ecf95a245f2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This content is filled in once under "Global Content Collection"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactInfoReference">Contact Info Reference</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d631e6bd-01fd-43ca-8b6b-6f8ed5c01d1e</Key>
      <Caption>Contact Info Reference</Caption>
      <Alias>contactInfoReference</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>