<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5704471-3c4f-4594-a26e-7e6fe6c4afcc" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6d13efad-acfb-4d7b-8ff3-53c17edd4063">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c45ea81c-15b8-4f0c-82ec-ca77a9f8f0d7" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="738f9dab-415b-431e-89f0-dd35e07a8bd4" SortOrder="1">servicePage</ContentType>
    <ContentType Key="4b948181-c3f0-4f17-b37e-0ef6fc9fbfa6" SortOrder="2">riskManagementPage</ContentType>
    <ContentType Key="66d8d8b6-ce80-4cb7-9b57-6610d42a5caf" SortOrder="3">projectPage</ContentType>
    <ContentType Key="2c359793-2df0-4c0f-b767-67cda0604a6a" SortOrder="4">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e2e57483-2beb-4521-85c5-0ca88ae165a1</Key>
      <Name>Content</Name>
      <Alias>homeContent</Alias>
      <Definition>a6b77343-b639-4434-8b64-6b8c6518ece1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentSections">Content Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>079f61c7-36fa-4f11-a116-0a2de0268624</Key>
      <Caption>Content Sections</Caption>
      <Alias>contentSections</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>