<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66d8d8b6-ce80-4cb7-9b57-6610d42a5caf" Alias="projectPage" Level="2">
  <Info>
    <Name>Project Page</Name>
    <Icon>icon-sprout color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ProjectPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de02654a-c49f-40f7-bda0-e620fe24ad56">ProjectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3bcb1cc2-4578-416b-b5e8-764713d155a4" SortOrder="0">projectDetailPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c7dc1fa2-4ff9-4e26-8515-389400cd619b</Key>
      <Name>Contact Header</Name>
      <Alias>contactHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/contactSection">Contact Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61e7e113-cbdb-4371-ab94-ac43a9c4cb36</Key>
      <Name>Contact Info Header</Name>
      <Alias>contactInfoHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/contactInfoSection">Contact Info Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>652fe3fa-f6d3-461e-be35-a232f866d6cc</Key>
      <Name>placeholder</Name>
      <Alias>placeholder</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/projectSection">Project Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5d92de3-6b8a-4985-b235-eff84f82b975</Key>
      <Name>Placeholder2</Name>
      <Alias>placeholder2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/filterSection">Filter Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01072527-0307-4d9a-88b6-74a9b2ab9774</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>07db95a8-4fcd-45f3-bf4d-698604d585c2</Key>
      <Caption>Contact Info Section</Caption>
      <Alias>content/contactInfoSection</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>1609e5b1-860b-44f6-9840-0aad325f0333</Key>
      <Caption>Contact Section</Caption>
      <Alias>content/contactSection</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>5f0ee177-be85-4896-af52-4950fe403a06</Key>
      <Caption>Project Section</Caption>
      <Alias>content/projectSection</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f151417a-3e27-469c-8dfa-253319629d5a</Key>
      <Caption>Filter Section</Caption>
      <Alias>content/filterSection</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>