<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="24408821-4a43-420c-a880-bd5f0113298d" Alias="serviceDetailsPage" Level="2">
  <Info>
    <Name>Service Details Page</Name>
    <Icon>icon-wrench color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServiceDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b312e230-1abd-4d5e-a954-2bcb84831aa8">ServiceDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>