<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="738f9dab-415b-431e-89f0-dd35e07a8bd4" Alias="servicePage" Level="2">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-wrench color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9ec9f53-85d5-4b75-a344-bc3315973af5">ServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f5ce1815-36b8-4c8b-876f-ca183b584fb8" SortOrder="0">serviceDetailsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>590ec2f6-7b6e-44f2-b473-d8989f40ef44</Key>
      <Name>Service Content</Name>
      <Alias>serviceContent</Alias>
      <Definition>b62ecfb3-36eb-4810-9842-ee20c0b4ee8d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="serviceContentSections">Service Content Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d3da217e-c593-4477-a6ee-aa3bccb13849</Key>
      <Caption>Service Content Sections</Caption>
      <Alias>serviceContentSections</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>