<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2dd342b-4f42-4118-976b-0eb4bc3af693" Alias="serviceCards" Level="2">
  <Info>
    <Name>Service Cards</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54cdb1ae-6078-4301-b568-df937dd3553e</Key>
      <Name>Services To Display</Name>
      <Alias>servicesToDisplay</Alias>
      <Definition>dae3ec07-7871-4951-a634-a953b426c776</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select all the services to display in this section. Each service must first be created as a Service Details Page under Service Page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="servicesToDisplay">Services to Display</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e5d0af6a-ece1-4acd-aa90-1f3e5ea0e764</Key>
      <Caption>Services to Display</Caption>
      <Alias>servicesToDisplay</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>