<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5ce1815-36b8-4c8b-876f-ca183b584fb8" Alias="serviceDetailsPage" Level="2">
  <Info>
    <Name>Service Details Page</Name>
    <Icon>icon-wrench color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e39b70b1-ec50-455c-8d70-56c59fc92515">aside</Composition>
      <Composition Key="c7974be9-f893-4f46-b084-152f362dc346">contactInfo</Composition>
    </Compositions>
    <DefaultTemplate>ServiceDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d213a0c8-31c7-4395-88c0-84665abe9575">ServiceDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>90dfa6ab-37b9-46ba-a997-0cadb8499a25</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>fbaf07f4-5dd2-4ae0-88b1-683c6a97d5e2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="serviceDetailContentSections">Service Detail Content Sections</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7080603a-0b08-4653-a060-026737b2c9b9</Key>
      <Caption>Service Detail Content Sections</Caption>
      <Alias>serviceDetailContentSections</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>