<?xml version="1.0" encoding="utf-8"?>
<Content Key="63eba1ba-e9d3-4f38-99de-428bc671d529" Alias="About" Level="2">
  <Info>
    <Parent Key="a1c45b97-df28-4f71-ab04-71a4f9442c94">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-10T16:29:44</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="24ed4b66-22fb-42a7-bc8b-3f18da011f36">AboutPage</Template>
  </Info>
  <Properties>
    <aboutContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b9d731b2-1526-4576-a9a5-955973522e7d",
      "key": "228cdb68-1127-4b9d-9c95-b2434597d063",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutSubHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "aboutBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.\u003C/p\u003E\u003Cp\u003EMorbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.\u003C/p\u003E\u003Cp\u003ECras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.\u003C/p\u003E\u003Cp\u003ECras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c358fee3-37a6-471a-8e91-a11897648d9c",
              "mediaKey": "7e63d10e-5c0c-4187-8d79-acd5cafa0d7e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder at Onatrix"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3e287bdd-a4da-4579-97a3-7248f8a0c62b",
      "key": "5b2f46bf-797f-4030-bcea-66ca8fb8ac6d",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "228cdb68-1127-4b9d-9c95-b2434597d063",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "228cdb68-1127-4b9d-9c95-b2434597d063",
        "contentUdi": null,
        "settingsKey": "5b2f46bf-797f-4030-bcea-66ca8fb8ac6d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutContent>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
  </Properties>
</Content>