<?xml version="1.0" encoding="utf-8"?>
<Content Key="3be8d04d-b2d8-4fed-a443-843e27381d35" Alias="Aside" Level="2">
  <Info>
    <Parent Key="aeaeb469-5e83-4740-8101-60cfdc44541b">Global Content Collection</Parent>
    <Path>/GlobalContentCollection/Aside</Path>
    <Trashed>false</Trashed>
    <ContentType>aside</ContentType>
    <CreateDate>2025-11-10T16:18:57</CreateDate>
    <NodeName Default="Aside" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCard>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a9f30bd0-b6a2-42b2-bf7a-b01b73f2c751",
      "key": "b3d5c4b4-d34b-4d26-8221-4aa549acb190",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b3d5c4b4-d34b-4d26-8221-4aa549acb190",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b3d5c4b4-d34b-4d26-8221-4aa549acb190",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactCard>
    <linkingCard>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "4c8ed848-a031-49f3-bbde-12ab38e1c8fd",
      "key": "31d1cfe9-1364-4e74-8263-a575c3a24663",
      "udi": null,
      "values": [
        {
          "alias": "pageTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "pageThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6f7c04ac-85fe-416d-8601-0ea5f965327a",
              "mediaKey": "4e47d172-38a6-40ae-a38b-37e3ae6e2eb9",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "pageExcerpt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "pageLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About Us",
              "target": null,
              "udi": "umb://document/63eba1bae9d34f3899de428bc671d529",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "31d1cfe9-1364-4e74-8263-a575c3a24663",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "31d1cfe9-1364-4e74-8263-a575c3a24663",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </linkingCard>
  </Properties>
</Content>