<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c8ac659-30c8-4037-aa02-aa3d60810cd4" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="33199066-17a1-4301-99d4-c84e92fbbf70">Our Services</Parent>
    <Path>/Home/OurServices/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailsPage</ContentType>
    <CreateDate>2025-11-10T21:18:00</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d213a0c8-31c7-4395-88c0-84665abe9575">ServiceDetailsPage</Template>
  </Info>
  <Properties>
    <asideReference>
      <Value><![CDATA[umb://document/3be8d04db2d84feda443843e27381d35]]></Value>
    </asideReference>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8d03895f-a99e-4e11-a636-5f33b0976099",
      "key": "657b1db2-b66b-4c53-b9c9-0ce3704594cb",
      "udi": null,
      "values": [
        {
          "alias": "serviceDetailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bonds \u0026 Commodities"
        },
        {
          "alias": "serviceDetailThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dee210e8-44f6-4ccd-a6fb-4df54c462358",
              "mediaKey": "1da6c74a-a081-4df7-89e5-b534362dbb7b",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "serviceDetailExcerpt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "serviceDetailBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022Service - Bonds and Commodities\u0022 width=\u0022500\u0022 height=\u0022297\u0022 data-udi=\u0022umb://media/1da6c74aa0814df789e5b534362dbb7b\u0022\u003E\u003C/p\u003E\u003Cp\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "657b1db2-b66b-4c53-b9c9-0ce3704594cb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "657b1db2-b66b-4c53-b9c9-0ce3704594cb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>