<?xml version="1.0" encoding="utf-8"?>
<Content Key="9265403d-0476-45fc-92ed-943369df4025" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a1c45b97-df28-4f71-ab04-71a4f9442c94">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-11T12:20:42</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f499751-94c0-4ba8-adc2-e9c94bec86d0">ContactPage</Template>
  </Info>
  <Properties>
    <contactContent>
      <Value><![CDATA[]]></Value>
    </contactContent>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>