<?xml version="1.0" encoding="utf-8"?>
<Content Key="9265403d-0476-45fc-92ed-943369df4025" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a1c45b97-df28-4f71-ab04-71a4f9442c94">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-11T12:20:42</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f499751-94c0-4ba8-adc2-e9c94bec86d0">ContactPage</Template>
  </Info>
  <Properties>
    <bgImage>
      <Value><![CDATA[[
  {
    "key": "7d142970-87ec-4a42-a3ea-c46578992710",
    "mediaKey": "d5866405-20fd-47c1-b098-23f69bfc4e1e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImage>
    <contactContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3222086c-1cc9-4d01-8791-4eee9f43c614",
      "key": "9d8fb8c1-584e-4590-aea8-806c14f6edd1",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dee252b2-3d8d-4bdf-a9ea-3351c3ee6baa",
              "mediaKey": "bafce712-6eda-4474-a4bd-18904a7b7d4a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "271665bd-45bb-4207-8332-b3c96479e290",
              "mediaKey": "3b82ab9f-3af0-498f-ac5b-bdd5c5d1874f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "12301f41-fefd-4dee-9e3b-da7193a85b85",
              "mediaKey": "aa497adb-e8e0-4e91-88e3-0cc326afbf63",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "d127d49d-8cc3-425f-a44e-dd35a6394923",
              "mediaKey": "509e5a59-9a2b-42a6-826f-1bc2d152c085",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4cfb6792-ef23-4034-a66b-b1bb6c571dd3",
              "mediaKey": "194e4523-43fa-4905-8110-a303cbcb0bae",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "f780d5b7-270c-42d5-add7-c4056bdcae18",
              "mediaKey": "d21e6ec9-fd16-4737-8126-8a88ad65e857",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f43c1d46-2302-481a-a524-a475d629d362",
      "key": "c125758f-15d6-4699-951a-0727b5ab0240",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "formBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "97496159-1116-447a-bfbd-502312b16923",
      "key": "d63003dc-2ad1-465f-9c54-a94f3dacf89f",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9d8fb8c1-584e-4590-aea8-806c14f6edd1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c125758f-15d6-4699-951a-0727b5ab0240",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c125758f-15d6-4699-951a-0727b5ab0240",
        "contentUdi": null,
        "settingsKey": "d63003dc-2ad1-465f-9c54-a94f3dacf89f",
        "settingsUdi": null
      },
      {
        "contentKey": "9d8fb8c1-584e-4590-aea8-806c14f6edd1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactContent>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>