<?xml version="1.0" encoding="utf-8"?>
<Content Key="014cd7e9-c9c9-4105-90f7-c23b6ef17de9" Alias="Contact Info" Level="2">
  <Info>
    <Parent Key="aeaeb469-5e83-4740-8101-60cfdc44541b">Global Content Collection</Parent>
    <Path>/GlobalContentCollection/ContactInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>contactInfo</ContentType>
    <CreateDate>2025-11-10T16:25:36</CreateDate>
    <NodeName Default="Contact Info" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "baf1f66d-2c21-4288-a183-f94289963c9b",
    "mediaKey": "4047d2bf-41c5-4206-8615-585fa8c4361b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </title>
  </Properties>
</Content>