<?xml version="1.0" encoding="utf-8"?>
<Content Key="aeaeb469-5e83-4740-8101-60cfdc44541b" Alias="Global Content Collection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalContentCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>globalContent</ContentType>
    <CreateDate>2025-11-10T15:24:49</CreateDate>
    <NodeName Default="Global Content Collection" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>