<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1c45b97-df28-4f71-ab04-71a4f9442c94" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-07T15:07:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d13efad-acfb-4d7b-8ff3-53c17edd4063">HomePage</Template>
  </Info>
  <Properties>
    <homeContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "483aae1d-5fa4-4725-9487-85e29d72b7f9",
      "key": "9bd30609-79c8-48f4-a77b-f173b7d12e5a",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring\nsuccess to you"
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact",
              "target": null,
              "udi": "umb://document/9265403d047645fc92ed943369df4025",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "728fcdda-86bb-409c-ae72-bb3e4b561e4e",
              "mediaKey": "6662bf4a-767c-48c3-87cf-f647e43ab772",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b9d731b2-1526-4576-a9a5-955973522e7d",
      "key": "35f9c0f0-486a-47af-b475-5bc44deb467c",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutSubHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "aboutBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022rte-body\u0022\u003E\u003Cspan class=\u0022color-body-text\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "444b8d3c-42fa-401f-9c1b-3b4612b2a2aa",
              "mediaKey": "e68e9556-2b0d-4449-93de-045305a82e3f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "f43c1d46-2302-481a-a524-a475d629d362",
      "key": "b1dbd6fa-6619-4c0d-a9b6-4724bca144e6",
      "udi": null,
      "values": [
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "fa9265c3-92d4-4bdd-9ffb-6e3f3d16556a",
      "key": "adc31a84-714c-4147-b8ca-673118351896",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        },
        {
          "alias": "serviceCards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d2dd342b-4f42-4118-976b-0eb4bc3af693",
                "key": "23808230-451d-445f-8007-ccc93ba0ba8d",
                "udi": null,
                "values": [
                  {
                    "alias": "servicesToDisplay",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/6e82be9edad64d59a00ca391913fb902,umb://document/1c8ac65930c84037aa02aa3d60810cd4,umb://document/deff2e45af514191841dc761d81a332b,umb://document/6dcd49bc6a144bf69da826f7f297c5d0,umb://document/9e4d683a2e354448826eeddaf9bd313b,umb://document/fdd20b539479406286a9c4055d8657be"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "23808230-451d-445f-8007-ccc93ba0ba8d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "23808230-451d-445f-8007-ccc93ba0ba8d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "3222086c-1cc9-4d01-8791-4eee9f43c614",
      "key": "358755d5-075f-4f83-97a6-d71d008bcda4",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a161aefb-f44e-40f9-9a4c-392b107e1543",
              "mediaKey": "bafce712-6eda-4474-a4bd-18904a7b7d4a",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "56e28ccf-2b82-488d-a644-28f5f54c9f05",
              "mediaKey": "3b82ab9f-3af0-498f-ac5b-bdd5c5d1874f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "bf1a5c93-6622-4646-a7d0-0d579d306e2f",
              "mediaKey": "aa497adb-e8e0-4e91-88e3-0cc326afbf63",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "e0b8f852-f2dd-4b34-9772-8aa1b9c8040c",
              "mediaKey": "509e5a59-9a2b-42a6-826f-1bc2d152c085",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4aafd75c-b3b6-4150-9edd-078ce09ea55c",
              "mediaKey": "194e4523-43fa-4905-8110-a303cbcb0bae",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "9446949e-9434-4918-abf0-ba10dfb95c17",
              "mediaKey": "d21e6ec9-fd16-4737-8126-8a88ad65e857",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "3e287bdd-a4da-4579-97a3-7248f8a0c62b",
      "key": "4ab81502-5ea8-4101-947d-a45d1825c52c",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "settingsBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white -standard background",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "1b716945-7505-492e-b070-921020376b41",
      "key": "3b60a31f-8298-4155-812f-a003071e87e5",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "d5b08d7e-b8d1-46ae-b445-0918026244e6",
      "key": "d51efbcd-01cd-42d9-9c2b-5ef403d6f696",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9bd30609-79c8-48f4-a77b-f173b7d12e5a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35f9c0f0-486a-47af-b475-5bc44deb467c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b1dbd6fa-6619-4c0d-a9b6-4724bca144e6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "adc31a84-714c-4147-b8ca-673118351896",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "358755d5-075f-4f83-97a6-d71d008bcda4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9bd30609-79c8-48f4-a77b-f173b7d12e5a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "35f9c0f0-486a-47af-b475-5bc44deb467c",
        "contentUdi": null,
        "settingsKey": "4ab81502-5ea8-4101-947d-a45d1825c52c",
        "settingsUdi": null
      },
      {
        "contentKey": "b1dbd6fa-6619-4c0d-a9b6-4724bca144e6",
        "contentUdi": null,
        "settingsKey": "3b60a31f-8298-4155-812f-a003071e87e5",
        "settingsUdi": null
      },
      {
        "contentKey": "adc31a84-714c-4147-b8ca-673118351896",
        "contentUdi": null,
        "settingsKey": "d51efbcd-01cd-42d9-9c2b-5ef403d6f696",
        "settingsUdi": null
      },
      {
        "contentKey": "358755d5-075f-4f83-97a6-d71d008bcda4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeContent>
  </Properties>
</Content>