<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1c45b97-df28-4f71-ab04-71a4f9442c94" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-07T15:07:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d13efad-acfb-4d7b-8ff3-53c17edd4063">HomePage</Template>
  </Info>
  <Properties>
    <aboutTitle>
      <Value><![CDATA[About us]]></Value>
    </aboutTitle>
    <chooseUsHeader>
      <Value><![CDATA[]]></Value>
    </chooseUsHeader>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
    <placeholder>
      <Value><![CDATA[]]></Value>
    </placeholder>
    <projectTitle>
      <Value><![CDATA[]]></Value>
    </projectTitle>
    <serviceTitle>
      <Value><![CDATA[Our Services]]></Value>
    </serviceTitle>
    <storiesTitle>
      <Value><![CDATA[]]></Value>
    </storiesTitle>
  </Properties>
</Content>