<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1c45b97-df28-4f71-ab04-71a4f9442c94" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-07T15:07:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6d13efad-acfb-4d7b-8ff3-53c17edd4063">HomePage</Template>
  </Info>
  <Properties>
    <homeContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "483aae1d-5fa4-4725-9487-85e29d72b7f9",
      "key": "52bb00f6-5bee-4a0d-8a0e-eae89ce09a5e",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim"
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact us",
              "target": null,
              "udi": "umb://document/9265403d047645fc92ed943369df4025",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b78d5339-963f-44b5-bf7d-25274f9ad459",
              "mediaKey": "6662bf4a-767c-48c3-87cf-f647e43ab772",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "b9d731b2-1526-4576-a9a5-955973522e7d",
      "key": "f2b3be4f-e87d-46e1-a77a-88b2c2915020",
      "udi": null,
      "values": [
        {
          "alias": "aboutLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "aboutTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutSubHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
        },
        {
          "alias": "aboutBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ecf004e7-9947-4a1c-86ae-3c542f9cf3a0",
              "mediaKey": "e68e9556-2b0d-4449-93de-045305a82e3f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "caption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tina Fox - CEO \u0026 Founder"
        }
      ]
    },
    {
      "contentTypeKey": "f43c1d46-2302-481a-a524-a475d629d362",
      "key": "eadf94c8-98fb-4e92-b83f-fe36e80efc5f",
      "udi": null,
      "values": [
        {
          "alias": "formLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "fa9265c3-92d4-4bdd-9ffb-6e3f3d16556a",
      "key": "f906e296-0adf-49eb-b4d7-1509e9927b72",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        },
        {
          "alias": "serviceCards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d2dd342b-4f42-4118-976b-0eb4bc3af693",
                "key": "ef0dc426-458f-4b8b-954a-401e44699585",
                "udi": null,
                "values": [
                  {
                    "alias": "servicesToDisplay",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/6e82be9edad64d59a00ca391913fb902,umb://document/1c8ac65930c84037aa02aa3d60810cd4"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ef0dc426-458f-4b8b-954a-401e44699585",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ef0dc426-458f-4b8b-954a-401e44699585",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "d02d90d2-37d2-458d-b53f-ed70a0aba4f6",
      "key": "15b7e22a-6bf2-499b-81a4-b929e7677ea5",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than 4.000\u002B clients"
        },
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed."
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/63eba1bae9d34f3899de428bc671d529",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "082a7f2c-1f0f-4455-9e3a-02a28b875912",
              "mediaKey": "ceb8bd60-1a53-492e-8eb0-162e890ad37d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0283ae88-76c2-4e5b-8d19-dffd34c2d2b6",
      "key": "eb5ffab3-dda7-4e25-a7b2-9854b13365f1",
      "udi": null,
      "values": [
        {
          "alias": "storiesLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "storiesTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "storiesImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9d2e3738-6c2a-4e07-a9a5-b22262effda8",
              "mediaKey": "8aa50d93-ba5c-49fb-944e-ea79fd14ad32",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "storiesSuccessNumbers",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "dc497d03-1865-44db-90af-9525290f5b42",
                "key": "82dea172-efd8-40de-b30c-f4f3e6a69fc1",
                "udi": null,
                "values": [
                  {
                    "alias": "relatedShortText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 600 customers has been served"
                  },
                  {
                    "alias": "storyNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  }
                ]
              },
              {
                "contentTypeKey": "dc497d03-1865-44db-90af-9525290f5b42",
                "key": "9459d476-2ea7-4808-a873-13d993b136b2",
                "udi": null,
                "values": [
                  {
                    "alias": "relatedShortText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  },
                  {
                    "alias": "storyNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  }
                ]
              },
              {
                "contentTypeKey": "dc497d03-1865-44db-90af-9525290f5b42",
                "key": "0a4647df-7062-4002-be5c-2e27657636ad",
                "udi": null,
                "values": [
                  {
                    "alias": "relatedShortText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  },
                  {
                    "alias": "storyNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "82dea172-efd8-40de-b30c-f4f3e6a69fc1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9459d476-2ea7-4808-a873-13d993b136b2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0a4647df-7062-4002-be5c-2e27657636ad",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "82dea172-efd8-40de-b30c-f4f3e6a69fc1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9459d476-2ea7-4808-a873-13d993b136b2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0a4647df-7062-4002-be5c-2e27657636ad",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "3222086c-1cc9-4d01-8791-4eee9f43c614",
      "key": "82593d81-53f1-4b8d-b3a7-03257b982266",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "65597469-06cc-45ab-b256-f97191a49940",
              "mediaKey": "bafce712-6eda-4474-a4bd-18904a7b7d4a",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "b7a15b91-ec27-4481-8085-97404cda7c6d",
              "mediaKey": "3b82ab9f-3af0-498f-ac5b-bdd5c5d1874f",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4455a432-6004-49b2-b212-02bbde9dc5a6",
              "mediaKey": "aa497adb-e8e0-4e91-88e3-0cc326afbf63",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "40584d0f-abeb-47e4-9017-1428750fe4ab",
              "mediaKey": "509e5a59-9a2b-42a6-826f-1bc2d152c085",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "91aa4d31-4a18-4aa7-a06f-261f42186df6",
              "mediaKey": "194e4523-43fa-4905-8110-a303cbcb0bae",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "40320d41-b260-4501-887d-d8bf50d8fd1c",
              "mediaKey": "d21e6ec9-fd16-4737-8126-8a88ad65e857",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1b716945-7505-492e-b070-921020376b41",
      "key": "f478b69d-4ad8-44e3-a2dd-9c7aef967415",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "3e287bdd-a4da-4579-97a3-7248f8a0c62b",
      "key": "b4931139-b6f5-4e72-b00c-77ee91cebae3",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "settingsBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white -standard background",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "d5b08d7e-b8d1-46ae-b445-0918026244e6",
      "key": "71c1c0c4-cdab-47e9-8954-f2f96b19a21a",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "52bb00f6-5bee-4a0d-8a0e-eae89ce09a5e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f2b3be4f-e87d-46e1-a77a-88b2c2915020",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eadf94c8-98fb-4e92-b83f-fe36e80efc5f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f906e296-0adf-49eb-b4d7-1509e9927b72",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "15b7e22a-6bf2-499b-81a4-b929e7677ea5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eb5ffab3-dda7-4e25-a7b2-9854b13365f1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "82593d81-53f1-4b8d-b3a7-03257b982266",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52bb00f6-5bee-4a0d-8a0e-eae89ce09a5e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f2b3be4f-e87d-46e1-a77a-88b2c2915020",
        "contentUdi": null,
        "settingsKey": "b4931139-b6f5-4e72-b00c-77ee91cebae3",
        "settingsUdi": null
      },
      {
        "contentKey": "eadf94c8-98fb-4e92-b83f-fe36e80efc5f",
        "contentUdi": null,
        "settingsKey": "f478b69d-4ad8-44e3-a2dd-9c7aef967415",
        "settingsUdi": null
      },
      {
        "contentKey": "f906e296-0adf-49eb-b4d7-1509e9927b72",
        "contentUdi": null,
        "settingsKey": "71c1c0c4-cdab-47e9-8954-f2f96b19a21a",
        "settingsUdi": null
      },
      {
        "contentKey": "15b7e22a-6bf2-499b-81a4-b929e7677ea5",
        "contentUdi": null,
        "settingsKey": "d07df4a1-a096-43b5-a7db-ab3f1b1a4a0f",
        "settingsUdi": null
      },
      {
        "contentKey": "eb5ffab3-dda7-4e25-a7b2-9854b13365f1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "82593d81-53f1-4b8d-b3a7-03257b982266",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </homeContent>
  </Properties>
</Content>