<?xml version="1.0" encoding="utf-8"?>
<Content Key="33199066-17a1-4301-99d4-c84e92fbbf70" Alias="Our Services" Level="2">
  <Info>
    <Parent Key="a1c45b97-df28-4f71-ab04-71a4f9442c94">Home</Parent>
    <Path>/Home/OurServices</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-10T16:31:38</CreateDate>
    <NodeName Default="Our Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f9ec9f53-85d5-4b75-a344-bc3315973af5">ServicePage</Template>
  </Info>
  <Properties>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <serviceContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fa9265c3-92d4-4bdd-9ffb-6e3f3d16556a",
      "key": "bc576d21-30c5-4036-9362-8dba59b5f1ec",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions To Grow Your Business Faster"
        },
        {
          "alias": "serviceCards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d2dd342b-4f42-4118-976b-0eb4bc3af693",
                "key": "4c0cfab0-52ea-46e0-b5d3-dde8cad473e5",
                "udi": null,
                "values": [
                  {
                    "alias": "servicesToDisplay",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/6e82be9edad64d59a00ca391913fb902,umb://document/1c8ac65930c84037aa02aa3d60810cd4"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4c0cfab0-52ea-46e0-b5d3-dde8cad473e5",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4c0cfab0-52ea-46e0-b5d3-dde8cad473e5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d5b08d7e-b8d1-46ae-b445-0918026244e6",
      "key": "76447060-abee-43b5-b7c4-190780c1269e",
      "udi": null,
      "values": [
        {
          "alias": "showLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bc576d21-30c5-4036-9362-8dba59b5f1ec",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bc576d21-30c5-4036-9362-8dba59b5f1ec",
        "contentUdi": null,
        "settingsKey": "76447060-abee-43b5-b7c4-190780c1269e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceContent>
  </Properties>
</Content>