<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e82be9e-dad6-4d59-a00c-a391913fb902" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="33199066-17a1-4301-99d4-c84e92fbbf70">Our Services</Parent>
    <Path>/Home/OurServices/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailsPage</ContentType>
    <CreateDate>2025-11-10T16:33:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d213a0c8-31c7-4395-88c0-84665abe9575">ServiceDetailsPage</Template>
  </Info>
  <Properties>
    <asideReference>
      <Value><![CDATA[umb://document/3be8d04db2d84feda443843e27381d35]]></Value>
    </asideReference>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8d03895f-a99e-4e11-a636-5f33b0976099",
      "key": "8f694454-3723-4a1c-9baf-da4989279d32",
      "udi": null,
      "values": [
        {
          "alias": "serviceDetailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Risk Management"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8f694454-3723-4a1c-9baf-da4989279d32",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8f694454-3723-4a1c-9baf-da4989279d32",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>