<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e82be9e-dad6-4d59-a00c-a391913fb902" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="33199066-17a1-4301-99d4-c84e92fbbf70">Our Services</Parent>
    <Path>/Home/OurServices/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetailsPage</ContentType>
    <CreateDate>2025-11-10T16:33:54</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d213a0c8-31c7-4395-88c0-84665abe9575">ServiceDetailsPage</Template>
  </Info>
  <Properties>
    <asideReference>
      <Value><![CDATA[umb://document/3be8d04db2d84feda443843e27381d35]]></Value>
    </asideReference>
    <contactInfoReference>
      <Value><![CDATA[umb://document/014cd7e9c9c9410590f7c23b6ef17de9]]></Value>
    </contactInfoReference>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8d03895f-a99e-4e11-a636-5f33b0976099",
      "key": "8f694454-3723-4a1c-9baf-da4989279d32",
      "udi": null,
      "values": [
        {
          "alias": "serviceDetailTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Risk Management"
        },
        {
          "alias": "serviceDetailThumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ba35b227-69b8-4fb1-9485-57f05e11def2",
              "mediaKey": "00ab31ec-d89f-42ec-993a-8ac6df189d0f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "serviceDetailExcerpt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "serviceDetailBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=500\u0022 alt=\u0022Service - Risk Management\u0022 width=\u0022500\u0022 height=\u0022297\u0022 data-udi=\u0022umb://media/00ab31ecd89f42ec993a8ac6df189d0f\u0022\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8f694454-3723-4a1c-9baf-da4989279d32",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8f694454-3723-4a1c-9baf-da4989279d32",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </content>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
  </Properties>
</Content>