<?xml version="1.0" encoding="utf-8"?>
<Content Key="a476375b-e5d6-4d78-9bee-732d15ea1376" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-09T22:26:11</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </address>
    <copyrightText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to Themesflat]]></Value>
    </copyrightText>
    <email>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </email>
    <phone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </phone>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "57911695-4c48-4a99-b5a6-24f6ba4bcaee",
    "mediaKey": "f3cc47fe-f1bc-456d-a99e-c029b9485ba5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <socialMediaList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e5ac7fc7-a549-40e7-9bbd-016e3b7c982b",
      "key": "22180a7f-02ab-4255-be04-28bc6616b36c",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "e5ac7fc7-a549-40e7-9bbd-016e3b7c982b",
      "key": "985c09e5-c2e2-490f-951f-69c8cb0633be",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "e5ac7fc7-a549-40e7-9bbd-016e3b7c982b",
      "key": "5efd3827-d3ed-469b-b6a4-7ce4ac3ca036",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "22180a7f-02ab-4255-be04-28bc6616b36c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "985c09e5-c2e2-490f-951f-69c8cb0633be",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5efd3827-d3ed-469b-b6a4-7ce4ac3ca036",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "22180a7f-02ab-4255-be04-28bc6616b36c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "985c09e5-c2e2-490f-951f-69c8cb0633be",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5efd3827-d3ed-469b-b6a4-7ce4ac3ca036",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaList>
  </Properties>
</Content>